#gameWindow {
    background-color: red;
    margin: 0 auto;
}

#restartWindow {
    position: relative;
    text-align: center;
    top: 60vh;
    font-size: 50px;
    border: none;
    outline: none;
}

#puff {
    /* border: 1px solid red !important; /* DEBUG */ 
}

#carWrapper {
    /* border: 1px solid red; /* DEBUG */ 
}

#driftSpark {
    /* border: 1px solid red; /* DEBUG */ 
}

/**
ANIMATIONS
**/

@keyframes squeeze {
    0% {
        transform: scaleX(65%);
    }

    50% {
        transform: scaleX(100%);
    }

    100% {
        transform: scaleX(135%);
    }
}

@keyframes spark-appears {
    0% {
        transform: scale(0%);
    }
    100% {
        transform: scale(100%);
    }
}

@keyframes ratLimbWiggle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-7deg);
    }
    100% {
        transform: rotate(0deg);
    }
}